* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}
body {
    background-image: url("../images/darkness.png");
    color: #fff;
}
#buttonList {
    padding: 10px;
}
h1 {
    font-family: 'Chewy', cursive;
    text-align: center;
}